clientlocal/src/conf/xml-resources/web-service-references/RetailerWS/wsdl/localhost_8080/Retailer/RetailerWS.xsd_2.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://retailer.me.org/" xmlns:ns2="http://warehouse.me.org/" xmlns:ns1="http://manufacturer.me.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://retailer.me.org/">

<xs:import namespace="http://manufacturer.me.org/" schemaLocation="http://localhost:8080/Retailer/RetailerWS?xsd=3"/>

<xs:import namespace="http://warehouse.me.org/" schemaLocation="http://localhost:8080/Retailer/RetailerWS?xsd=1"/>

<xs:element name="getCatalog" type="tns:getCatalog"/>

<xs:element name="getCatalogResponse" type="tns:getCatalogResponse"/>

<xs:element name="shipGoods" type="tns:shipGoods"/>

<xs:element name="shipGoodsResponse" type="tns:shipGoodsResponse"/>

<xs:complexType name="getCatalog">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getCatalogResponse">
<xs:sequence>
<xs:element name="return" type="ns2:productList" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="shipGoods">
<xs:sequence>
<xs:element name="items" type="ns2:orderList" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="shipGoodsResponse">
<xs:sequence>
<xs:element name="return" type="ns2:shippedList" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>