clientlocal/src/conf/xml-resources/web-service-references/RetailerWS/wsdl/localhost_8080/Retailer/RetailerWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://warehouse.me.org/" xmlns:ns1="http://manufacturer.me.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://warehouse.me.org/">

<xs:import namespace="http://manufacturer.me.org/" schemaLocation="http://localhost:8080/Retailer/RetailerWS?xsd=3"/>

<xs:complexType name="productList">
<xs:sequence>
<xs:element name="products" type="ns1:product" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="orderList">
<xs:sequence>
<xs:element name="_items" type="tns:orderItem" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="orderItem">
<xs:sequence>
<xs:element name="product" type="ns1:product" minOccurs="0"/>
<xs:element name="quantity" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="shippedList">
<xs:sequence>
<xs:element name="shippedItems" type="tns:orderItem" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="items" type="tns:orderItem" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>