Warehouse2/web/WEB-INF/wsdl/ec2-54-186-163-110.us-west-2.compute.amazonaws.com_8080/Manufacturer3/Manufacturer3WS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://manufacturer.me.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://manufacturer.me.org/" name="Manufacturer3WS">
<types>
<xsd:schema>
<xsd:import namespace="http://manufacturer.me.org/" schemaLocation="http://ec2-54-186-163-110.us-west-2.compute.amazonaws.com:8080/Manufacturer3/Manufacturer3WS?xsd=1"/>
</xsd:schema>
</types>
<message name="receivePayment">
<part name="parameters" element="tns:receivePayment"/>
</message>
<message name="receivePaymentResponse">
<part name="parameters" element="tns:receivePaymentResponse"/>
</message>
<message name="processPurchasePrder">
<part name="parameters" element="tns:processPurchasePrder"/>
</message>
<message name="processPurchasePrderResponse">
<part name="parameters" element="tns:processPurchasePrderResponse"/>
</message>
<message name="getProductInfo">
<part name="parameters" element="tns:getProductInfo"/>
</message>
<message name="getProductInfoResponse">
<part name="parameters" element="tns:getProductInfoResponse"/>
</message>
<portType name="Manufacturer3WS">
<operation name="receivePayment">
<input wsam:Action="http://manufacturer.me.org/Manufacturer3WS/receivePaymentRequest" message="tns:receivePayment"/>
<output wsam:Action="http://manufacturer.me.org/Manufacturer3WS/receivePaymentResponse" message="tns:receivePaymentResponse"/>
</operation>
<operation name="processPurchasePrder">
<input wsam:Action="http://manufacturer.me.org/Manufacturer3WS/processPurchasePrderRequest" message="tns:processPurchasePrder"/>
<output wsam:Action="http://manufacturer.me.org/Manufacturer3WS/processPurchasePrderResponse" message="tns:processPurchasePrderResponse"/>
</operation>
<operation name="getProductInfo">
<input wsam:Action="http://manufacturer.me.org/Manufacturer3WS/getProductInfoRequest" message="tns:getProductInfo"/>
<output wsam:Action="http://manufacturer.me.org/Manufacturer3WS/getProductInfoResponse" message="tns:getProductInfoResponse"/>
</operation>
</portType>
<binding name="Manufacturer3WSPortBinding" type="tns:Manufacturer3WS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="receivePayment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="processPurchasePrder">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getProductInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Manufacturer3WS">
<port name="Manufacturer3WSPort" binding="tns:Manufacturer3WSPortBinding">
<soap:address location="http://ec2-54-186-163-110.us-west-2.compute.amazonaws.com:8080/Manufacturer3/Manufacturer3WS"/>
</port>
</service>
</definitions>